{% extends 'orders/base.html' %}
{% load static %}

{% block orders_extra_style %}
<style>
    {% include 'orders/css/order_card.css' %}
</style>
{% endblock orders_extra_style %}

{% block orders_extra_content %}
    <div class="mt-4">
        <h2>Заказ № {{ order.id }}</h2>

        <form method="post" novalidate>
            {% csrf_token %}

            <!-- Order Form -->
            <div class="card mb-4">
                <div class="card-header">
                    <h5>Детали заказа</h5>
                </div>
                <div class="card-body">
                    <div class="row g-2 mb-3">
                        <div class="col-auto">
                            <span>Клиент:</span>
                            <span>{{ order.client }}</span>
                        </div>
                    </div>
                    <div class="row g-2 mb-3">
                        <div class="col-auto">
                            <span>Дата создания:</span>
                            <span>{{ order.created|date:"d.m.Y" }}</span>
                        </div>
                    </div>

                    <div class="mb-3">
                        <span>Исходные требования клиента:</span>
                        {{ form.initial_requirements }}
                    </div>
                </div>
            </div>

            {% include "orders/blocks/_order_card.html" %}

            <div class="alert alert-info mt-4">
                Чтобы начать работу с заказом, нужно взять его в работу
            </div>

            <div class="mt-4">
                <button type="submit" class="btn btn-primary">
                    Взять в работу
                </button>
                <a href="{% url 'orders:list' %}" class="btn btn-secondary">Отмена</a>
            </div>
        </form>
    </div>
{% endblock orders_extra_content %}

{% block orders_extra_js %}
<script>
</script>
{% endblock orders_extra_js %}
