.order-item-status.default {
    background-color: #e0e0e0 !important;
}

.order-item-status.agreement {
    background-color: #f39c12 !important;
}

.order-item-status.ordered {
    background-color: #28a745 !important;
}

.order-item-status.half_ordered {
    background-color: #FD7C6E !important;
}

.order-item-status.approved {
    background-color: #20c997 !important;
}

.order-item-status.rejected {
    background-color: #e74c3c !important;
}

.order-item-status.ready_for_order {
    background-color: #3498db !important;
}

.order-item-status.ready {
    background-color: #9b59b6 !important;
}